<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group p-2">
    <label for="complaint_id"  class = "form-label fs-5 fw-bold py-2" >Complaint ID</label>
    <input type="number" name="message[complaint_id]" class="form-control shadow shadow-sm" value=<%= params[:complaint_id] %> readonly />
  </div>

  <div class="form-group p-2">
    <%= form.label :statement, class: "form-label fs-5 fw-bold py-2" %>
    <%= form.text_field :statement , class: "form-control shadow shadow-sm"%>
  </div>

  <div class="form-group p-2">
    <%= form.label :dateTime, class: "form-label fs-5 fw-bold py-2" %>
    <%= form.datetime_select :dateTime, class: "form-control shadow shadow-sm" %>
  </div>

  <div class="actions form-group d-flex justify-content-center py-4">
    <%= form.submit "Submit", class: "btn btn-secondary shadow shadow-sm" %>
  </div>
<% end %>
