<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Message</h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive">

       <tr>
          <td class="p-4 fs-4 fw-bold">User:</td>
          <td class="p-4 fs-4"><%= @message.complaint.user.name %></td>
        </tr>

        <tr>
          <td class="p-4 fs-4 fw-bold">Complaint:</td>
          <td class="p-4 fs-4"><%= @message.complaint_id %></td>
        </tr>

        <tr>
          <td class="p-4 fs-4 fw-bold">Statement:</td>
          <td class="p-4 fs-4"><%= @message.statement %></td>
        </tr>

        <% if @message.message_type=="User" %>
        <tr>
          <td class="p-4 fs-4 fw-bold">Status:</td>
          <td class="p-4 fs-4"><%= @message.status.status %></td>
        </tr>
        <% end %>

        <tr>
          <td class="p-4 fs-4 fw-bold">Datetime:</td>
          <td class="p-4 fs-4"><%= @message.dateTime %></td>
        </tr>
      </table>
      <div class="d-flex pt-4 justify-content-center">
     </div>
    </div>
  <div>
</div>      
