<%= form_with(model: officer) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group p-1">
    <%= form.label :email, class: "form-label fs-5 fw-bold py-2"%>
    <%= form.text_field :email, class: "form-control shadow shadow-sm" %>
  </div>

  <% if !officer.id %>
   <div class="form-group p-1">
    <%= form.label :password, class: "form-label fs-5 fw-bold py-2"%>
    <%= form.password_field :password, class: "form-control shadow shadow-sm" %>
  </div>
  <% end %>

  <div class="form-group p-1">
    <%= form.label :name, class: "form-label fs-5 fw-bold py-2"%>
    <%= form.text_field :name, class: "form-control shadow shadow-sm" %>
  </div>

  <div class="form-group p-1">
    <%= form.label :age, class: "form-label fs-5 fw-bold py-2"%>
    <%= form.number_field :age, class: "form-control shadow shadow-sm" %>
  </div>

  <div class="form-group p-1">
    <%= form.label :location, class: "form-label fs-5 fw-bold py-2"%>
    <%= form.text_field :location, class: "form-control shadow shadow-sm" %>
  </div>

  <% unless(current_user_login.role=="officer" && officer.role=="DSP")%>
    <div class="form-group p-1">
      <%= form.label :officer_role, class: "form-label fs-5 fw-bold py-2"%>
      <%= form.select :role, options_for_select(Officer.roles, officer ? officer.role : nil), { :multiple => false, include_blank: 'Select'}, {class: "form-select shadow shadow-sm ", required: true}  %>
    </div>
  <% else %>
     <%= form.hidden_field :role, class: "form-control shadow shadow-sm" %>
  <% end %>



  <div class="actions form-group d-flex justify-content-center pt-2">
    <%= form.submit class: "btn btn-secondary shadow shadow-sm" %>
  </div>
<% end %>
