<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Officers</h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive table-striped">
        <thead class="thead-dark bg-dark text-light align-text-center">
          <tr>
            <th class="p-4 fs-5">Email</th>
            <th class="p-4 fs-5">Name</th>
            <th class="p-4 fs-5">Age</th>
            <th class="p-4 fs-5">Location</th>
            <th class="p-4 fs-5">Role</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @officers.each do |officer| %>
            <tr>
              <td class="p-4 fs-6"><%= officer.email %></td>
              <td class="p-4 fs-6"><%= officer.name %></td>
              <td class="p-4 fs-6"><%= officer.age %></td>
              <td class="p-4 fs-6"><%= officer.location %></td>
              <td class="p-4 fs-6"><%= officer.role %></td>
              <td class="p-4 fs-6"><%= link_to edit_officer_path(officer) do %>
                  <i class="icon fa-solid fa-pen-to-square fa-xl" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                <% end %>
              </td>
              <!--  <td class="p-4 fs-6"><%= link_to officer, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa-solid fa-trash fa-xl icon" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                <% end %>
              </td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <%=  link_to 'New Officer', new_officer_path, class: "btn btn-secondary text-light btn-lg"%>
    </div>
  <div>
</div>
