<%= form_with(model: complaint) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
        <% complaint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id , :value => Current.user.id%>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :officer_id %>
    <%= form.number_field :officer_id %>
  </div>

  <div class="field">
    <%= form.label :statement %>
    <%= form.text_area :statement %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :dateTime %>
    <%= form.datetime_select :dateTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
