<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Complaints</h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive table-striped">
        <thead class="thead-dark bg-dark text-light align-text-center">
          <tr>
            <th class="p-4 fs-5">User</th>
            <th class="p-4 fs-5">Statement</th>
            <th class="p-4 fs-5">Location</th>
            <th class="p-4 fs-5">Status</th>
            <th class="p-4 fs-5">Datetime</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @complaints.each do |complaint| %>
            <tr>
              <td class="p-4 fs-6"><%= complaint.user.name %></td>
              <td class="p-4 fs-6"><%= complaint.statement %></td>
              <td class="p-4 fs-6"><%= complaint.location %></td>
              <td class="p-4 fs-6"><% if complaint.status %><%= complaint.status.status %><% else %><%= "Registered" %><% end %></td>
              <td class="p-4 fs-6"><%= complaint.dateTime.strftime('%B %d - %Y, %I:%M %p')  %></td>
              <% if (complaint.status && complaint.status.status == 'Resolved')%>
                <td class="p-4 fs-6"><%= link_to "/complaintHistory/#{complaint.id}" do %>
                      <i class="icon fa-solid fa-clock-rotate-left fa-xl" data-toggle="tooltip" data-placement="top" title="View History"></i>
                    <% end %>
                </td>  
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td class="p-4"><a href="handledByOfficer/<%= complaint.id %>"><i class="icon fa-solid fa-user-nurse fa-2xl" data-toggle="tooltip" data-placement="top" title="Governed By"></i></a></td>
                <% if current_user_login.role=='user'%>
                  <td class="p-4"><%= link_to new_message_path(complaint_id: complaint.id) do %>
                        <i class="icon fa-solid fa-paper-plane fa-2xl" data-toggle="tooltip" data-placement="top" title="Make Request"></i>
                      <% end %>
                  </td>
                <% end %>
                <td class="p-4 fs-6"><%= link_to edit_complaint_path(complaint) do %>
                      <i class="icon fa-solid fa-pen-to-square fa-xl" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                    <% end %>
                </td>
                <td class="p-4 fs-6"><%= link_to "/complaintHistory/#{complaint.id}" do %>
                  <i class="icon fa-solid fa-clock-rotate-left fa-xl" data-toggle="tooltip" data-placement="top" title="View History"></i>
                  <% end %>
                </td>  
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Complaint', new_complaint_path , class: "btn btn-secondary text-light btn-lg"%>
    </div>
  <div>
</div>
