<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Complaints</h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive table-striped">
        <thead class="thead-dark bg-dark text-light align-text-center">
          <tr>
            <th class="p-4 fs-5">User</th>
            <th class="p-4 fs-5">Officer</th>
            <th class="p-4 fs-5">Statement</th>
            <th class="p-4 fs-5">Location</th>
            <th class="p-4 fs-5">Status</th>
            <th class="p-4 fs-5">Datetime</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @complaints.each do |complaint| %>
            <tr>
              <td class="p-4 fs-6"><%= complaint.user_id %></td>
              <td class="p-4 fs-6"><%= complaint.officer_id %></td>
              <td class="p-4 fs-6"><%= complaint.statement %></td>
              <td class="p-4 fs-6"><%= complaint.location %></td>
              <td class="p-4 fs-6"><%= complaint.status.status %></td>
              <td class="p-4 fs-6"><%= complaint.dateTime %></td>
              <td><%= link_to 'Make Request', new_message_path(complaint_id: complaint.id)%></td>
              <td class="p-4 fs-6"><%= link_to 'Show', complaint %></td>
              <td class="p-4 fs-6"><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
              <td class="p-4 fs-6"><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Complaint', new_complaint_path , class: "btn btn-secondary text-light btn-lg"%>
    </div>
  <div>
</div>
