


<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= Current.user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Noofcomplaintsmade:</strong>
  <%= @user.noOfComplaintsMade %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Add Complaint', new_complaint_path %>
