<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Messages</h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive table-striped">
        <thead class="thead-dark bg-dark text-light align-text-center">
          <tr>
            <th class="p-4 fs-5">User</th>
            <th class="p-4 fs-5">Complaint</th>
            <th class="p-4 fs-5">Statement</th>
            <th class="p-4 fs-5">Datetime</th>
            <th colspan="2"></th>
         </tr>
        </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td class="p-4 fs-6"><%= message.complaint.user.name %></td>
            <td class="p-4 fs-6"><%= message.complaint_id %></td>
            <td class="p-4 fs-6"><%= message.statement %></td>
            <td class="p-4 fs-6"><%= message.dateTime %></td>
            <td class="p-4 fs-6"><%= link_to message, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa-solid fa-trash fa-xl icon" data-toggle="tooltip" data-placement="top" title="Delete"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
</table>
