<h2 class="d-flex flex-row fw-bold justify-content-center pt-4 pb-3 m-3">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3 mb-5">
    <%= f.label :email, class: "form-label fw-bold fs-5 py-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control shadow shadow-sm" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" ,  class: "btn btn-info text-light btn-lg mx-5 px-5"%>
  </div>
<% end %>

<div class="actions d-flex pt-4 justify-content-between">
  <p class="fs-6">Don't Have an account: <%= link_to 'Sign Up', new_user_login_registration_path %></p>
  <p class="fs-6">Already Have an account: <%= link_to 'Sign In', new_user_login_session_path, class: 'login-link' %></p>
</div>
