<div class="mt-5">
  <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Crime FIR </h1>
  <div class="border border-sm rounded m-5 p-5">
    <div class="px-5 mx-5">
      <table class="table table-responsive">
        <tr>
          <td class="p-4 fs-4 fw-bold">User:</td>
          <td class="p-4 fs-4"><%= @crime_fir.user_id %></td>
        </tr>

       <tr>
          <td class="p-4 fs-4 fw-bold">Under section:</td>
          <td class="p-4 fs-4"><%= @crime_fir.under_section %></td>
        </tr>

       <tr>
          <td class="p-4 fs-4 fw-bold">Crime category:</td>
          <td class="p-4 fs-4"><%= @crime_fir.crime_category %></td>
        </tr>

       <tr>
          <td class="p-4 fs-4 fw-bold">Datetime of crime:</td>
          <td class="p-4 fs-4"><%= @crime_fir.dateTime_of_crime %></td>
        </tr>

       <tr>
          <td class="p-4 fs-4 fw-bold">Status</td>
          <td class="p-4 fs-4"><% if @crime_fir.status %><%= @crime_fir.status.status %><% end %></td>
        </tr>
      </table>
      <div class="actions form-group d-flex justify-content-center py-4">
        <%= link_to 'Edit', edit_crime_fir_path(@crime_fir), class: "btn btn-secondary shadow shadow-sm text-white" %>
      </div>
    </div>
  <div>
</div>

