 <nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #94e5ff; height: 70px; ">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="#">Crime Record Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto"> 
          <li class="nav-item">
            <% if current_user_login.role=="user"%>
            <a class="nav-link fs-5 px-3 <%= 'active' if current_page?(user_path(Current.user.id)) %>" href="<%= user_path(Current.user.id)%>">Profile</a>
            <% elsif current_user_login.role=="officer"%>
            <a class="nav-link fs-5 px-3 <%= 'active' if current_page?(officer_path(Current.user.id)) %>" href="<%= officer_path(Current.user.id)%>">Profile</a>
            <% elsif current_user_login.role=="admin"%>
            <a class="nav-link fs-5 px-3 <%= 'active' if current_page?(admin_path(Current.user.id)) %>" href="<%= admin_path(Current.user.id)%>">Profile</a>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_login_session_path, method: :delete, class: 'nav-link fs-5 px-3' %>
          </li>
        </ul>
      </div>
    </div>
</nav>